<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <div class="container">
      <div class="jumbotron">
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'user_login' %}">Login</a> 
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'user_logout' %}">Logout</a>
        <h1>This is Home page</h1>
        {% block cootent %} 
      
        {% endblock %}
      </div>
   </div>      
</body>
</html>  


